@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Black+Han+Sans&display=swap");
body {
 background-color: rgb(7, 78, 78);
  display: flex;
  justify-content: center;
  background-image: url(fft.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
;}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.board {
  
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  align-items: center;
  border-radius: 20%;
  padding: 60px;
  gap: 10px;
  margin: 10px;
 
  box-shadow: inset 2px 2px 10px 4px rgb(237, 249, 20);}
.cell {
    box-shadow: inset 2px 2px 10px 4px black;
  background-color: rgba(3, 132, 191, 0.69);
  border: solid 10px rgb(12, 2, 77);
  width: 80px;
  height: 80px;
  place-items: center;
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  color: rgba(235, 19, 73, 0.988);
  align-items: center;
  border-inline-color: rgba(0, 78, 97, 0.479);
  border-radius: 40px;
  font-family: "Balsamiq Sans", sans-serif;
}
.cell:hover {
  background-color: rgb(247, 255, 16);
}



h1 {
  margin: 3px;
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 40px;
  color: rgb(9, 183, 231);
  text-align: center;
}

.restart {
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 20px;
  padding: 5px;
  color: rgb(0, 0, 0);
  text-align: center;
  border-inline-color: rgb(139, 62, 62);
  background-color: rgb(9, 183, 231);
  border: solid 10px rgb(2, 131, 163);
  border-radius: 40px;
  margin: 2px;

}

.message {
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

}
.container{
    box-shadow: inset 2px 2px 10px 4px black;
    display: flex;
    justify-content: center;
    flex-direction: column;

}


@media only screen and (max-width: 780px) {
  body {
    padding: 30px;
    background-color: rgb(13, 14, 12);
  }
}